@font-face {
    font-family:delius-regular;
    src: url(delius-regular.ttf); 
   }

body {
    font-family: delius-regular;
    color: black;
    align-items: center;
    background: linear-gradient(90deg, transparent 5% , rgba(173,216,230,0.2)),
                linear-gradient(90deg, rgba(173,216,230,0.2) 50%, transparent 50%, transparent),
                linear-gradient(30deg, rgba(255,160,122,0.2) 50%, transparent 30%, transparent),
                linear-gradient(-30deg, rgba(218,165,32,0.2) 50%, transparent 10%, transparent),
                linear-gradient(135deg, rgba(0,100,0,0.3) 10%, transparent 50%, transparent);
    font-size: 24px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 18px;
}
p{
    font-size: 12px;
    margin-bottom: 14px;
}
main {
    display: flex;
}
div h2 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
    margin:0;
    opacity: 0.7;
}
div h3{
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 30px;
    opacity: 0.7;
}
.hr {
    color: #adadad;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
}

.hr::before {
    content: "";
   display: inline-block;
    line-height: 1em;
    height: 2px;
    vertical-align: middle;
    width: 300px;
    margin-top:-18px; 
    margin-left:11px;
    margin-right: 2px;
    background: #F5DEB3;
    position: relative;
 
}

.hr::after {
    position: relative;
    content: "";
    display: inline-block;
    line-height: 1em;
    vertical-align: middle;
    height: 2px;
    width:300px;
    margin-top:-18px; 
    margin-right:10px;
    margin-left:7px;
    background: #F5DEB3;
}
 .hd1 {
    position: relative;
    content: "";
    height: 2px;
    vertical-align: middle;
    width: 100%;
    padding: 0;
    margin-top:-1px;
    background:#FFF8DC;
}
   #circle {
    position: relative;
    top:0;
    left:0;
    width: 12px;
    height: 12px;
    background: transparent;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border: 2px solid orange;
    margin-bottom: 0;
    margin-top: 4px; 
  
}
.symvol::after{
    position: relative;
    content: "\2714";
    color:orange;
    font-family: OpenSans;
    align-items: center; 
    padding: 1px;
    font-size: 12px;
    font-weight: 600;
    top:1px;
}
ul{
    list-style-type: none; /* Убираем маркеры у списка */
   }
li{
    color: black;
    margin-top: 10px; 
    font-size: 12px; 
}
.blok{
    display: inline-block;
}
.changecolor{
    color:orange;
    font-size: 20px;
    margin-bottom: 22px;
    cursor: pointer;
}
 .kartin{
            width: 90px;
            height: 90px;
            padding-right:5px; 
            margin-top:0;
            margin-bottom:0;  
        }



.top{
    position: relative;
    z-index: 1;
    background-color: transparent;
    border-radius: 15px;
    padding: 15px 20px 15px 50px;
    width:405px;
    height: 530px;
    margin-top: 30px;
}
.date1, .date2, .date3{
    margin-right: 10px;
    float: left;
}
.date1:hover, .date2:hover, .date3:hover{
    transition: 2s;
    transform: perspective(200px) rotateY(360deg);
}

.collor{
    font-size: 15px;
    font-weight: 900;
    color: orange;
}
.special{
    margin-bottom:0;
    width: 280px;
    height: 92px;
    background:transparent; 
}
.special1{
    padding:0;
    width: 280px;
    height: 91px;
    background:transparent; 
    margin-bottom: 1px;
}
label:hover{
    transition: 1.5s; 
    color: red; }

.rak{
    padding-top: 20px;
    margin-bottom: 6px;
}
.aaa{
    margin-bottom: 5px;
    font-size: 14px;
}
.gaga{
    width: 80px;
    padding: 8px;
    height: 40px;
    border: 2px solid transparent;
    border-radius: 3px 3px 3px 3px;
    background: orange;
    text-align: center;
    top: 40px;
    left: 0px;
    cursor: pointer;
    position: relative;
    box-shadow: 0.25em 0.25em 15px rgba(122,122,122,0.5);
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    
}
.gaga:hover{
    background: green;
}
.nn{
    cursor: pointer;
    padding-left: 10px;
}
.nn:hover{
    transition-duration: 1.4s;
    font-size: 1.2em;
    color:#6A5ACD;
    font-weight: 900;
}
 .krasivo{
    /*background: url() repeat-x;*/
    width: 48px;
    height: 24px;
    margin-right: -28px;
   }
.krasivo2{
    display: inline-block;
    margin-top:21px; 
    margin-left:-5px;
    margin-right:0;
}
.coll{
    color: black;
    font-size: 12px;
}
.lol1{
top: 58px;
}
.lol2{
top: 74px;
}
.lol3{
top: 40px;
left: -105px;
}
